<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Custom fonts for this theme -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Gestão de Tarefas - IPG</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Administracao">Administração</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Funcionarios">Funcionários</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Gestão de Tarefas</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

        </div>
    </header>

    <!-- Administracao Section -->
    <section class="page-section Administracao" id="Administracao">
        <div class="container">

            <!-- Administracao Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Administracao</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Administracao Grid Items -->
            <div class="row">

                <!-- Administracao Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Administracao-item mx-auto" data-toggle="modal" data-target="#AdministracaoModal1">
                        <div class="Administracao-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Administracao-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Administracao/cabin.png" alt="">
                    </div>
                </div>

                <!-- Administracao Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Administracao-item mx-auto" data-toggle="modal" data-target="#AdministracaoModal2">
                        <div class="Administracao-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Administracao-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Administracao/cake.png" alt="">
                    </div>
                </div>

                <!-- Administracao Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Administracao-item mx-auto" data-toggle="modal" data-target="#AdministracaoModal3">
                        <div class="Administracao-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Administracao-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Administracao/circus.png" alt="">
                    </div>
                </div>

                <!-- Administracao Item 4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Administracao-item mx-auto" data-toggle="modal" data-target="#AdministracaoModal4">
                        <div class="Administracao-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Administracao-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Administracao/game.png" alt="">
                    </div>
                </div>

                <!-- Administracao Item 5 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Administracao-item mx-auto" data-toggle="modal" data-target="#AdministracaoModal5">
                        <div class="Administracao-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Administracao-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Administracao/safe.png" alt="">
                    </div>
                </div>

                <!-- Administracao Item 6 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Administracao-item mx-auto" data-toggle="modal" data-target="#AdministracaoModal6">
                        <div class="Administracao-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Administracao-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Administracao/submarine.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
    </section>



    <!-- Funcionarios Section -->
    <section class="page-section Funcionarios" id="Funcionarios">
        <div class="container">

            <!-- Funcionarios Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Funcionarios</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Funcionarios Grid Items -->
            <div class="row">

                <!-- Funcionarios Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Funcionarios-item mx-auto" data-toggle="modal" data-target="#FuncionariosModal1">
                        <div class="Funcionarios-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Funcionarios-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Funcionarios/cabin.png" alt="">
                    </div>
                </div>

                <!-- Funcionarios Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Funcionarios-item mx-auto" data-toggle="modal" data-target="#FuncionariosModal2">
                        <div class="Funcionarios-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Funcionarios-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Funcionarios/cake.png" alt="">
                    </div>
                </div>

                <!-- Funcionarios Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Funcionarios-item mx-auto" data-toggle="modal" data-target="#FuncionariosModal3">
                        <div class="Funcionarios-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Funcionarios-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Funcionarios/circus.png" alt="">
                    </div>
                </div>

                <!-- Funcionarios Item 4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Funcionarios-item mx-auto" data-toggle="modal" data-target="#FuncionariosModal4">
                        <div class="Funcionarios-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Funcionarios-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Funcionarios/game.png" alt="">
                    </div>
                </div>

                <!-- Funcionarios Item 5 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Funcionarios-item mx-auto" data-toggle="modal" data-target="#FuncionariosModal5">
                        <div class="Funcionarios-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Funcionarios-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Funcionarios/safe.png" alt="">
                    </div>
                </div>

                <!-- Funcionarios Item 6 -->
                <div class="col-md-6 col-lg-4">
                    <div class="Funcionarios-item mx-auto" data-toggle="modal" data-target="#FuncionariosModal6">
                        <div class="Funcionarios-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="Funcionarios-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/Funcionarios/submarine.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
    </section>




    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Administracao Modals -->
    <!-- Administracao Modal 1 -->
    <div class="Administracao-modal modal fade" id="AdministracaoModal1" tabindex="-1" role="dialog" aria-labelledby="AdministracaoModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Administracao Modal - Title -->
                                <h2 class="Administracao-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Administracao Modal - Image -->
                                <img class="img-fluid rounded mb-5" src="img/Administracao/cabin.png" alt="">
                                <!-- Administracao Modal - Text -->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Administracao Modal 2 -->
    <div class="Administracao-modal modal fade" id="AdministracaoModal2" tabindex="-1" role="dialog" aria-labelledby="AdministracaoModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Administracao Modal - Title -->
                                <h2 class="Administracao-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Administracao Modal - Image -->
                                <img class="img-fluid rounded mb-5" src="img/Administracao/cake.png" alt="">
                                <!-- Administracao Modal - Text -->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Administracao Modal 3 -->
    <div class="Administracao-modal modal fade" id="AdministracaoModal3" tabindex="-1" role="dialog" aria-labelledby="AdministracaoModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Administracao Modal - Title -->
                                <h2 class="Administracao-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Administracao Modal - Image -->
                                <img class="img-fluid rounded mb-5" src="img/Administracao/circus.png" alt="">
                                <!-- Administracao Modal - Text -->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Administracao Modal 4 -->
    <div class="Administracao-modal modal fade" id="AdministracaoModal4" tabindex="-1" role="dialog" aria-labelledby="AdministracaoModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Administracao Modal - Title -->
                                <h2 class="Administracao-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Administracao Modal - Image -->
                                <img class="img-fluid rounded mb-5" src="img/Administracao/game.png" alt="">
                                <!-- Administracao Modal - Text -->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Administracao Modal 5 -->
    <div class="Administracao-modal modal fade" id="AdministracaoModal5" tabindex="-1" role="dialog" aria-labelledby="AdministracaoModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Administracao Modal - Title -->
                                <h2 class="Administracao-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Administracao Modal - Image -->
                                <img class="img-fluid rounded mb-5" src="img/Administracao/safe.png" alt="">
                                <!-- Administracao Modal - Text -->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Administracao Modal 6 -->
    <div class="Administracao-modal modal fade" id="AdministracaoModal6" tabindex="-1" role="dialog" aria-labelledby="AdministracaoModal6Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Administracao Modal - Title -->
                                <h2 class="Administracao-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Administracao Modal - Image -->
                                <img class="img-fluid rounded mb-5" src="img/Administracao/submarine.png" alt="">
                                <!-- Administracao Modal - Text -->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
