@model IEnumerable<GestaoTarefasIPG.Models.Departamentos>

@{
    ViewData["Title"] = "Index";
}

<h4>Departamentos</h4>

<p>
    <a asp-action="Create"><input type="submit" value="Criar" class="btn btn-danger" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Nome do departamento:
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDepartamento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idDepartamento">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idDepartamento">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.idDepartamento">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>