@model IEnumerable<GestaoTarefasIPG.Models.Cargos>

@{
    ViewData["Title"] = "Index";
}

<h4>Cargos</h4>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCargo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idCargo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idCargo">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.idCargo">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>